<% provide(:title, "Gra-Navi") %>
<h1>Gra-Navi Top</h1>
<div id="map" class="box"></div>

<%=
map(:center => {
    :latlng => [@center_lat, @center_lon],
    :zoom => 16,
})
%>

<script>
const yado_latlng = <%= @yado_data %>;
for(var array_count = 0; array_count < yado_latlng.length; array_count++){
  console.log(yado_latlng[array_count]);
  L.marker(yado_latlng[array_count]).addTo(map);
}
</script>